{% extends 'base.html' %}


{% block title %} Password Reset Complete {% endblock title %}

{% block keywords %} {{setting.keywords}} {% endblock keywords %}

{% block description %} {{setting.description}} {% endblock description %}
    

        

<!-- Header and banner  -->
{% block header %} {% include "acheader.html" %} {% endblock header %}
<!-- Header and banner done  -->

<!-- Content  -->
{% block content %}  

   <!-- Account Page  -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{{banner.image.url}}" width="100%">
                </div>
                <div class="col-2">
                    <!-- {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-success alert-{{message.tags}}" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %} -->
                    <div class="form-container">
                        <h3 class="title">Password Reset Complete</h3>
                      <p>
                        Your password has been set. You may go ahead and <a href="{% url 'loginform' %}">sign in</a> now.
                      </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
   <!-- Account Page Done  -->

   {% endblock content %}                       
   <!-- Content done  -->

   <!-- footer   -->
   {% block footer %}  {% include "footer.html" %} {% endblock footer %}
   <!-- footer done  -->

   